body {

    padding: 0px;
    margin: 0px;
    background-image: url(../imagens/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


h1 {
    color: rgb(255, 255, 255);
}

.header-container {
    background: linear-gradient(to right, #ff0a0a, #362727);
    padding: 10px;
    text-align: center;
}

.destaque-container {
    background: linear-gradient(to right, #7a2020f3,  #ffffffb2);
    text-align: center;
    border-radius: 20px;
    width: 400px;
    height: 150px;
    margin: 0 auto;
}
